*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#bbar{
    width: 100vw;
    background-color: black;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#sony{
    color: white;
    margin-right: 5px;
}
header{
    position: fixed;
}
#proo{
    height: 800px;
    width: 100vw;
}