*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#bbar{
    width: 100vw;
    background-color: black;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#sony{
    color: white;
    margin-right: 5px;
}
header{
    position: fixed;
}
#proo{
    height: 800px;
    width: 100vw;
}
/* sez 1 */
#imcont{
    width: 100%;
    background-image: url(img/jumbo-bg.png);
    height: 675px;
    background-position: center;
    display: flex;
    align-items: flex-end;
}
#spacer{
    width: 100%;
    height: 110px;
}
#im2{
    width: 300px;
}
#break{
    font-size: 50px;
    color: white;
}
#lor{
    color: white;
}
#buy{
    color: white;
    background-color: red;
    padding: 5px;
    border-radius: 40px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}
#buycont{
    margin-bottom: 70px;
    margin-top: 40px;
}
#lorcont{
    margin-top: 40px;
}
#pcont{
    margin-left: 15px;
}
#bcont{
    margin-top: 25px;
}
/* sezione 3 */
.cg{
    color: rgb(192, 191, 191);
}
/* sezione 4 */
.bbut{
    color: white;
    background-color: rgb(0, 60, 255);
    padding: 5px;
    border-radius: 40px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}
#imcont2{
    width: 100%;
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    height: 675px;
    background-position: center;
    display: flex;
    align-items: flex-end;
}
#imm{
   width: 20em;
   
}
#ik{
    font-size: 2em;
    color: white;
}
.w{
    color: white;
    
}
.tt{
    color: white;
}
.ggg{
    color: rgb(188, 188, 188);
}
.bc{
    background-color: grey;
}
.dim{
    width: 20em;
}
.bplay{
    color: rgb(236, 236, 236);
    background-color: rgb(218, 218, 218);
    padding: 5px;
    border-radius: 40px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: blue;
}
